{% if use_layout %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <script src="/assets/js/htmx.min.js"></script>
    <script src="/assets/js/_hyperscript.min.js"></script>
    <link rel="stylesheet" href="/assets/css/minireset.min.css">
    <link rel="stylesheet" href="/assets/css/normalize.min.css">
    <link rel="stylesheet" href="/assets/css/main.min.css">
</head>
<body>
    {% include "_sidenav.html" %}
    <main id="main">
{% endif -%}
      {% block content %}
      Default content
      {% endblock %}
{% if use_layout %}
    </main>
</body>
</html>
{% endif -%}
