{% if use_layout %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <script src="/assets/js/htmx.min.js"></script>
    <script src="/assets/js/_hyperscript.min.js"></script>
    <link rel="stylesheet" href="/assets/css/minireset.min.css">
    <link rel="stylesheet" href="/assets/css/normalize.min.css">
    <link rel="stylesheet" href="/assets/css/main.min.css">
</head>
<body> 
    {% include "components/sidenav.html" %}
    <main id="main" class="h-screen ml-48" style="width: calc(100vw - 12rem)">
{% endif -%}
      {{ children }}
{% if use_layout %}
    </main>
</body>
</html>
{% endif -%}
